body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 20vw 1fr;
}



/* Sidebar starts here */
.sidebar {
    background-color: #334155;
    color: white;
    height: 100vh;
    width: 20vw;
    position: fixed;
}

@keyframes dropdown {
    from {
        transform: translateY(-400px);
    }
    to {
        transform: translateY(0);
    }
}

.sidebar-header,
.sidebar-title,
.option {
    animation-name: dropdown;
    animation-duration: 2s;
    padding: 2vh 2vw;
}

.sidebar-header {
    display: flex;
    align-items: center;
    gap: 1vw;
    padding: 2vh 2vw;
}

#list-logo {
    width: 2.5vw;
    height: auto;
}

.option {
    border: none;
    padding: 6px 12px;
    margin-left: 2vw;
}

.footer {
    background-color: #222d3a;
    font-size: 1rem;
    height: 5vh;
    position: fixed;
    bottom: 0;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6vw;
    font-weight: bold;
}

#footer-logo {
    height: 3vh;
    width: auto;
    -webkit-filter: invert(100%);
}

a,
a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    cursor: pointer;
    transform: scale(1.05,1.1);
}
/* Sidebar ends here */



.content {
    grid-column: 2;
    display: grid;
    grid-template-rows: 15vh 1fr;
}


.header {
    background-color: rgba(128, 128, 128, 0.301);
    font-size: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: rgba(231,229,228,255);
}
